* {
    padding: 0;
    margin: 0;
    background: url('bimage.jpg') no-repeat center/cover;
    text-decoration: none;
}

html{
    /* 1 rem = 16px (by default)
    if 1rem = 10px
    if font-size 100% = 16px default font size
    font-size: ?% = 10px
    what if we want 10px as default font size
    So, we will divided the 10/16 = 0.625*100 = 62.5
    font-size: 62.5%; */
    font-size: 62.5%;

}

header{
    margin-top: 1rem;
}
.lp{
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
}

#logo {
    display: flex;
    width: 100%;
    background-color: #555;
    overflow: auto;
    font-weight: bold;
}

#logo .nav {
    margin-top: 0.7rem;
    font-family: sans-serif;
    font-weight: bold;
    padding: 1.2rem;
    color: white;
    font-size: 1.5rem;
    width: 120%;
    /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    /* float: left; */
    /* If you want the text to be centered */
}

#logo .nav li{
    float: left;
    display: inline;
    margin-left: 1.5rem;
}
#logo .nav li a{
    position: relative;
    color: #000;
}

#logo .nav li a:hover {
    color: red;
}

label #btns,
label #cancel{
    color: black;
    font-size: 3rem;
    float: right;
    line-height: 6rem;
    margin-right: 1rem;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

#logo .nav #searchbox {
    margin-top: -.8rem;
    float: right;
    margin-right: 3rem;
    
}

input[type=text] {
    padding: .1rem;
    margin-top: 0.5rem;
    background: rgb(238, 125, 84);
    border-radius: 1.5rem;

}

#searchbox button {
    background: rgb(235, 35, 35);
    cursor: pointer;
    padding: .1rem;
    margin-top: .3rem;
    font-weight: bold;
    border-radius: 1.5rem;

}

#searchbox button:hover {
    background: #fff;
}
.img{
    margin-top: .5rem;
    padding: 0;
    width: 100%;
    height: 16rem;
}

main {
    display: flex;
    margin: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 9rem;
}
.pt{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 25rem;
    font-size: 2rem;
}
.ptn{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 2.3rem;
    font-style: italic;
}
pre{
    font-size: 1.7rem;
    font-weight: bold;
}
.new{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* #hr1{
    margin-top: 5rem;
} */
.hd2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 1rem;
}
.sec{
    overflow: none;
    display: flex;
    margin-left: 1rem;
    border-radius: .5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.sec2{
    display: flex;
}
.sec3{
    display: flex;
}
.sec img:focus{
    width: 5rem;
}
.sec a{
    font-size: 1.4rem;
    margin-right: 5.5rem;
    margin-left: 3.5rem;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: initial;
}

.sec1{
    display: flex;
    margin-left: 1rem;
    border-radius: .5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;

}
.sec4{
    display: flex;
}
.sec5{
    display: flex;
}
.sec1 img:focus{
    width: 5rem;
}
.sec1 a{
    font-size: 1.4rem;
    margin-right: 5.5rem;
    margin-left: 3.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: initial;
    text-align: center;
}

.liw {
    padding-top: .8rem;
    padding-bottom: .8rem;
    background: transparent;
    color: #fff;
}

.icons {
    background: transparent;
    font-weight: bold;
    font-size: 1.6rem;
}

.icons a {
    color: #ff7200;
    background: transparent;
}

.icons a:hover {
    color: #fff;
}

footer {
    margin-top: 9.4rem;
    max-width: 100%;
    text-align: center;
    height: 8rem;
    padding: 1.7rem;
    
    background: rgb(97, 97, 165);
}
.footer-cols{
    display: grid;
    grid-gap: 0.1rem;
    grid-template-columns: repeat(4,1fr);
    text-align: left;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 15rem;
}
.footer-cols ul{
    list-style-type: none;
}
.footer-cols ul li a{
    color: black;
}
.footer-bottom{
    margin-top: 2.5rem;
    background-color: #333;
    text-align: 50rem;
    background: transparent;
    font-size: 1.5rem;  
    font-style: italic;
}

/* responsive code */
@media screen and (max-width:1000px){
    .sec a{
        margin-right: 3.5rem;
        margin-left: 2.5rem;
    }
    .sec1 a{
        margin-right: 3.5rem;
        margin-left: 2.5rem;
    }
}
@media screen and (max-width:811px){
    .sec a{
        margin-right: 2.5rem;
        margin-left: 1.5rem;
    }
    .sec1 a{
        margin-right: 2.5rem;
        margin-left: 1.5rem;
    }
}
@media screen and (max-width:778px){
    .pt{
        font-weight: 22rem;
        font-size: 1.5rem;
    }
    pre{
        font-size: 1.3rem;
        font-weight: bold;
    }
}
@media screen and (max-width:683px){
    .pt{
        font-size: 1.7rem;
        font-weight: 15rem;
    }
    pre{
        margin-left: -20rem;
    }
    .sec a{
        margin-right: 1.5rem;
        margin-left: .5rem;
    }
    .sec1 a{
        margin-right: 1.5rem;
        margin-left: .5rem;
    }
}
@media screen and (max-width:551px){
    .sec a{
        margin-right: .3rem;
        margin-left: .1rem;
    }
    .sec1 a{
        margin-right: 0.5rem;
        margin-left: 0.1rem;
    }
    .footer-cols{
        margin-left: 5rem;
    }
    pre{
        margin-left: -30rem;
    }
}
@media screen and (max-width:450px){
    .sec{
        display: block;
    }
    .sec2{
        display: flex;
        align-items: center;
        margin-left: 2.7rem;
        /* margin-right: 10rem;*/
    }
    .sec3{
        display: flex;
        margin-top: 1rem;
        align-items: center;
        margin-left: 3rem;
        /* margin-right: 10rem;*/
    }
    .sec1{
        display: block;
    }
    .sec4{
        display: flex;
        align-items: center;
        margin-left: 6rem;
        /* margin-right: 10rem; */
    }
    .sec5{
        display: flex;
        margin-top: 1rem;
        align-items: center;
        margin-left: 9rem;
        /* margin-right: 10rem;*/
    }
    pre{
        margin-left: -40rem;
    }
    .footer-cols{
        margin-left: 0.5rem;
        font-size: 1.2rem;
    }
    .footer-bottom{
        margin-top: 0.7rem;
        font-size: 1.3rem;
    }
    #searchbox{
        padding-top: 1.5%;
    }
    footer {
        margin-top: 2.5rem;
    }
}